@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color:rgb(249, 249, 249);
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 32px;
  animation: rotate 6s infinite alternate linear;
}

.circle {
  position: fixed;
  top: -50vmin;
  left: -50vmin;
  width: 100vmin;
  height: 92vmin;
  border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
  background:rgb(1, 204, 255);
  box-shadow: 0 100px 100px rgb(0 0 0 / 10%);
}

.circle::after{
  content: "";
  position: inherit;
  right: -50vmin;
  bottom: -50vmin;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: rgb(56, 78, 249);
  box-shadow: 0 100px 100px rgb(0 0 0 / 10%);
}

.textarea-input {
  width: 45%;
  height: 300px;
  font-size: 16px;
  font-family: 'Ubuntu';
  border:double 4px rgb(48, 32, 225);
  resize: none;
}

.textarea-output {
  width: 90%;
  height: 700px;
  border:double 4px rgb(48, 32, 225);
  resize: none;
}

.card {
  overflow: hidden;
  position: relative;
  z-index: 3;
  width: 60%;
  margin: auto;
  padding: 160px 30px 38px;
  border-radius: 1.25rem;
  background: #fff;
  text-align: center;
  box-shadow: 0 100px 100px rgb(0 0 0 / 10%);
}

.card::before{
  content: "";
  position: absolute;
  background:rgb(10, 37, 157);
  top: -880px;
  left: 50%;
  width: 1450px;
  height: 1022px;
  border-radius: 50%;
  translate: -50% 0;
}

.card .logo{
  position: absolute;
  display: flex;
  font-family: 'Ubuntu';
  align-items: center;
  justify-content: center;
  border-radius: 90%;
  background-color: #fff;
  height: 130px;
  width: 130px;
  top: 5px;
  left: 50%;
  translate: -50% 0;
}

.card .logo i{
  font-size: 50px;
  font-family: 'Ubuntu';
  color:rgb(36, 63, 239);
  font-weight: 500;
}

input[type=submit]{
  border:double 2px rgb(48, 32, 225);
  border-radius: 1.25rem;
  font-family: 'Ubuntu';
  font-weight: bold;
  color:rgb(56, 78, 249);
  padding: 15px 30px;
  background-color: #fff;
  text-decoration: none;
  margin: 10px 20px;
  letter-spacing: 0.25em;
  cursor: pointer;
}

input[type=submit]:hover{
  color: rgb(255, 255, 255);
  color:rgb(7, 201, 84);
}

select {
  font-family: 'Ubuntu';
  border: none;
  background: none;
  color:rgb(56, 78, 249);
  font-weight: bold;
  cursor: pointer;
  width: 12%;
}

hr {
  border-top: 1px dotted rgb(10, 37, 157);
}

@media all and (max-width: 1000px) {
  body {
      padding: 0;
  }
  .card {
      margin: 0;
      width: 360px;  
  }
  .textarea-input {
    padding: 0;
    width: 200px;
    height: 150px;
  }
  .textarea-output {
    width: 250px;
    height: 300px;
  }
  select {
    width: 70px;
    height: 15px;
}
.card::before {
  width: 1150px;
  height: 950px;
  top: -830px;
}
.card .logo {
  top: 5%;
  height: 75px;
  width: 75px;
  font-size: 13px;
}
.card .logo i {
  font-size: 30px;
}
}